#hall {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    margin-left: 60px;
    background-color: #3b3b3b;
    padding: 10px 20px;
    border-radius: 10px;
}

#legend {
    margin-bottom: 20px;
}

.legend-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

    span {
        margin-left: 10px;
    }
}