

body{
    margin: 0;
  padding: 0;
    background: #222222;

}

#content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 90vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}